anyio==4.3.0
diskcache==5.6.3
fastapi==0.110.0
Flask==3.0.2
huggingface_hub==0.21.4
ImageBind==0.0.1.dev0
langchain==0.1.12
langchain_community==0.0.28
matplotlib==3.8.3
numpy==1.26.4
Pillow==10.2.0
pydantic==2.6.4
pydantic_settings==2.2.1
Requests==2.31.0
sentencepiece==0.2.0
sse_starlette==2.0.0
starlette==0.37.2
streamlit==1.32.0
streamlit_extras==0.4.0
torch==2.2.1
transformers==4.38.2
typing_extensions==4.10.0
uvicorn==0.28.0
